<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic 4 Range Bug
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  Dual fails to update on button clicks. Notice that only the button logs changes. ionChange() does not fire.
  <ion-range dualKnobs="true" min="1" max="100" [(ngModel)]="bindingDual" (ionChange)="dualRangeChange()"></ion-range>
  <ion-button (click)="lowerClick(-1)">L-</ion-button>
  <ion-button (click)="lowerClick(1)">L+</ion-button>
  <ion-button (click)="upperClick(-1)">U-</ion-button>
  <ion-button (click)="upperClick(1)">U+</ion-button>
  <p></p>
  <p></p>
  Single updates correctly on button clicks. Notice both the button and ionChange() log changes
  <ion-range min="1" max="100" [(ngModel)]="bindingSingle" (ionChange)="singleRangeChange()"></ion-range>
  <ion-button (click)="singleClick(-1)">S-</ion-button>
  <ion-button (click)="singleClick(1)">S+</ion-button>
</ion-content>